body{
    background-color: beige
}

ul.product-list {
    list-style-type: none;
    padding: 0;
}

li.product-item {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

h3.product-title {
    font-size: 18px;
    margin-top: 0;
}

p.product-description {
    font-size: 14px;
    margin-top: 5px;
}

p.product-code {
    font-size: 14px;
    margin-top: 5px;
}

/* Agrega estilos para otros campos aquí */

p.product-status {
    font-weight: bold;
    color: #007bff;
}

#productForm {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group select {
    height: 35px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}